/* .divAds {
    width: 200px;
    background-color: blue;
}
*/

/*
mt-5
px-2
pt-1
pb-2
flex w-full
flex-row
items-center
justify-center
animate-border
inline-block
rounded-md
bg-white
bg-gradient-to-r
from-red-500
via-purple-500
to-blue-500
bg-[length:400%_400%]
p-[5px]
border-0
!m-0
border
border-dotted
border-indigo-300
border-t-transparent
dark:border-opacity-50
mx-1
mt-1
text-xs
sm:text-sm
*/

